<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.1" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.Reactive" version="6.0.0" />
  <package id="System.Threading.Channels" version="7.0.0" />
  <package id="Websocket.Client" version="5.0.0" manuallyInstalled="true" />
</packages>